:root {
  --vp-c-brand: #f44336;
  --vp-c-brand-light: #ff7961;
  --vp-c-brand-lighter: #ff867c;
  --vp-c-brand-dark: #ba000d;
  --vp-c-brand-darker: #9a0007;
  
  --vp-home-hero-name-color: var(--vp-c-brand);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-bg: var(--vp-c-brand-dark);
}

.VPNavBarTitle .title {
  font-size: 1.2rem;
  font-weight: 600;
}

.VPHero .image-bg {
  opacity: 0.8;
  filter: blur(40px);
}

.VPHero .image-container {
  transform: scale(1.2);
}